/* task1 */
.container {
  width: 400px;
  margin: 100px auto;
  font-family: Arial;
}
dt, dd{
  width: 100%;
  display: block;
  text-align: center;
}
dd{
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
  display: none;
}
dt{
  background-color: #ccc;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #bbb;
  border-top: 1px solid white;
  cursor: pointer;
}
dt:first-child{
  border-top: 0;
}
dt:nth-last-child(2){
  border-bottom: 0;
}
 /* task2 */
li{
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

li.selected{
  background-color: #9f5;
}
li.hover{
  background-color: #43f;
}
